%h1 О нас
%p Добро пожаловать в учебное приложение студентки 1 курса магистратуры по направлению Прикладная информатика, Мякинькой Ксении.
%p  Данное приложение создано в рамках курса Методы разработки современных WEB-приложений.
= link_to t('main.back'), main_index_path, class: "main-button"