%h1 Контакты
%p Мякинькая Ксения
%p Санкт-Петербургский Политехнический Университет
%p  Институт Компьютерных Наук и Технологий
%p  ВШИСиСТ
%p  Прикладная Информатика
= link_to t('main.back'), main_index_path, class: "main-button"
