%footer
  %ul.main-menu__list
    %li= link_to t('.help'), main_help_path
    %li= link_to t('.contacts'), main_contacts_path
    %li= link_to t('.about'), main_about_path
    %li= link_to t('.ruby_site'), 'http://rubyonrails.org'